.table {
  border: 1px solid #48aae6;
  position: relative;
  border-collapse: unset;
  padding: 1px;
}

.table:hover .button_minus {
  opacity: 1;
  visibility: visible;
}

.table .button_minus:hover {
  opacity: .8;
  visibility: visible;
}

.table__data {
  width: 3.125rem;
  height: 3.125rem;
  background-color: #48aae6;
  border: 1px solid white;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
}

.button {
  position: absolute;
  width: 3.125rem;
  height: 3.125rem;
  background-color: #f3a500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #ffffff;
  font-size: 1.5625rem;
  font-weight: 900;
  cursor: pointer;
  border: 1px solid #ffffff;
  -webkit-transition: .3s;
  transition: .3s;
}

.button:hover {
  opacity: .8;
}

.button_plus-row {
  bottom: -3.4375rem;
  left: 0.125rem;
}

.button_plus-data {
  top: 0;
  right: -3.4375rem;
}

.button_minus {
  visibility: hidden;
  opacity: 0;
  background-color: #b20000;
}

.button_minus::after {
  content: '';
  position: absolute;
  width: 110%;
  height: 110%;
  display: block;
}

.button_minus-row {
  left: -3.4375rem;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.button_minus-data {
  top: -3.4375rem;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}